<div class="card">

    <div class="header">
        <div class="left">
            <button class="btn-back" (click)="navigateToHome()">
                <i class="pi pi-arrow-left"></i>
            </button>
        </div>
        <div class="center">
            <h1 class="title">Alumnos</h1>
        </div>
        <div class="right">
            <button class="btn-cargar-alumno" (click)="abrirFormulario()">
                Cargar Alumnos
            </button>
        </div>
    </div>

    <div id="table">
        <div id="p-table-wrapper">
            <p-table [scrollable]="true" scrollHeight="flex" [value]="alumnos()" showGridlines [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template #header>
                    <tr>
                        <th>Nombre completo</th>
                        <th>DNI</th>
                        <th>Email</th>
                        <th style="text-align: center;">Notas</th>
                        <th style="text-align: center;">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template #body let-alumno>
                    <tr>
                        <td > <a class="enlace-perfil" [routerLink]="['/perfil/', alumno.id]">{{ alumno.nombre }} {{ alumno.apellido }}</a></td>
                        <td>{{ alumno.dni }}</td>
                        <td>{{ alumno.email }}</td>
                        <td>
                            <button class="button" (click)="abrirFormularioNota(alumno)">
                                cargar notas
                            </button>
                        </td>
                        <td>
                            <button class="btn-editar btn-primary btn-sm" (click)="editarAlumno(alumno)">
                                Editar
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <app-page-nav
            (nextPage)="nextPage()"
            (previousPage)="previousPage()"
            (goToPage)="goToPage($event)"
            [pageCount]="totalPaginas()"
            [currentPage]="pagina() + 1"
        ></app-page-nav>
    </div>
</div>

@if (mostrarFormulario()) {
<div class="modal-overlay" (click)="cerrarFormulario()">
    <div (click)="$event.stopPropagation()">
        <app-formulario
            [alumno]="alumnoSeleccionado()"
            (cerrar)="cerrarFormulario()">
        </app-formulario>
    </div>
</div>
}

@if (mostrarFormularioNota()) {
<div class="modal-overlay" (click)="cerrarFormularioNota()">
    <div (click)="$event.stopPropagation()">
    
        <app-formulario-nota
    [alumno]="alumnoSeleccionadoNota()"
    (cerrar)="cerrarFormularioNota()">
</app-formulario-nota>
        <button class="btn-cerrar" type="button" (click)="cerrarFormularioNota()">
            Cerrar
        </button>
    </div>
</div>
}