<div class="card">

    <div class="header">
        <button class="btn-back" (click)="navigateToHome()">
            <i class="pi pi-arrow-left"></i>
        </button>

        <h1 class="title">Alumnos</h1>

        <button class="btn-cargar-alumno" (click)="abrirFormulario()">
            Cargar Alumnos
        </button>
    </div>

    <div id="table">
        <div id="p-table-wrapper">
            <div class="table-responsive">
                <table class="table table-striped table-hover align-middle">

                    <thead class="table-dark">
                        <tr>
                            <th>Nombre completo</th>
                            <th>DNI</th>
                            <th>Email</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (alumno of alumnos(); track alumno.dni) {
                        <tr>
                            <td>
                                <a [routerLink]="['/perfil/', alumno.id]"
                                    class="text-decoration-none text-reset fw-bold">
                                    {{ alumno.nombre }} {{ alumno.apellido }}
                                </a>
                            </td>
                            <td>{{ alumno.dni }}</td>
                            <td>{{ alumno.email }}</td>

                            <td class="text-center">
                                <div class="dropdown">
                                    <button class="btn btn-outline-secondary btn-sm" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="pi pi-cog"></i>
                                    </button>

                                    <ul class="dropdown-menu shadow-sm">
                                        <li><a class="dropdown-item" style="cursor: pointer;"
                                                (click)="abrirFormularioNota(alumno)">Cargar Notas</a></li>
                                        <li><a class="dropdown-item" style="cursor: pointer;"
                                                (click)="editarAlumno(alumno)">Editar</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item text-danger" style="cursor: pointer;">Eliminar</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        } @empty {
                        <tr>
                            <td colspan="4" class="text-center py-4 text-muted">
                                No hay alumnos cargados.
                            </td>
                        </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
        <app-page-nav (nextPage)="nextPage()" (previousPage)="previousPage()" (goToPage)="goToPage($event)"
            [pageCount]="totalPaginas()" [currentPage]="pagina() + 1"></app-page-nav>
    </div>
</div>

@if (mostrarFormulario()) {
<div class="modal-overlay" (click)="cerrarFormulario()">
    <div (click)="$event.stopPropagation()">
        <app-formulario [alumno]="alumnoSeleccionado()" (cerrar)="cerrarFormulario()">
        </app-formulario>
    </div>
</div>
}

@if (mostrarFormularioNota()) {
<div class="modal-overlay" (click)="cerrarFormularioNota()">
    <div (click)="$event.stopPropagation()">

        <app-formulario-nota [alumno]="alumnoSeleccionadoNota()" (cerrar)="cerrarFormularioNota()">
        </app-formulario-nota>
        <button class="btn-cerrar" type="button" (click)="cerrarFormularioNota()">
            Cerrar
        </button>
    </div>
</div>
}