<div class="card">

  <div class="student-bar">
    <span> Alumno: {{ alumno()?.nombre }} {{ alumno()?.apellido }}</span>
  </div>

  <h2>Cargar Nota</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="grid">

      <div class="field">
        <label>Materia</label>

        <select formControlName="materiaId">
          <option value="">Seleccione una materia</option>

          @for (materia of materias; track materia.id) {
            <option [value]="materia.id">
              {{ materia.nombre }}
            </option>
          }
        </select>
      </div>

      <div class="field">
        <label>Nota</label>

        <input
          type="number"
          min="1"
          max="10"
          step="1"
          placeholder="Ingrese una nota"
          formControlName="valor"
        >
      </div>

    </div>

    

    @if (error) {
      <small class="error">{{ error }}</small>
    }

    <div class="buttons">

      <button class="destructive" type="button" (click)="onCerrar()">
        Cancelar
      </button>

      <button class="clear" type="reset">
        Limpiar Formulario
      </button>

      <button class="primary" type="submit">
        Enviar
      </button>

    </div>

  </form>

</div>