.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.p-text {
    margin: 0;
}

.page-input {
    max-width: 50px;
    max-height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.08);
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    outline: none;
    transition: 0.2s ease;
}

.page-input::-webkit-outer-spin-button,
.page-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}