<div class="card">

    <div class="header">
        <button class="btn-back" (click)="navigateToHome()">
            <i class="pi pi-arrow-left"></i>
        </button>

        <h1 class="title">Materias</h1>
    </div>

    <div id="table">
        <div id="p-table-wrapper">
            <p-table [scrollable]="true" scrollHeight="flex" [value]="materias()" showGridlines [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template #header>
                    <tr>
                        <th>Nombre</th>
                        <th style="text-align: center;">Editar</th>
                        <th style="text-align: center;">Eliminar</th>
                    </tr>
                </ng-template>
                <ng-template #body let-materia>
                    <tr>
                        <td>{{ materia.nombre }}</td>
                        <td class="celda-editar">
                            <a class="enlace-perfil" [routerLink]="['/materias/editar', materia.id]">Editar</a>
                        </td>
                        <td class="celda-eliminar">
                            <a class="enlace-perfil" [routerLink]="['/materias/eliminar', materia.id]">Eliminar</a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
